{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static './bootstrap.css' %}" />
    <script type="text/javascript" src="{% static './bootstrap.js' %}"></script>

    <title>HOTEL BOOKING</title>

    <style type="text/css">
      .contain {
        background: url("{% static 'hotel.jpeg' %}");
        width: 100%;
        height: 100vh;
        color: white;
      }
      .forms {
        border: 0px solid #fff;
        padding: 8%;
        margin-top: 2vh;
        -webkit-box-shadow: 10px 10px 45px 3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 45px 3px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 45px 3px rgba(0, 0, 0, 0.75);
      }
      label {
        color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">HOTEL</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="booking"
              >Home </a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table">Admin<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <!-- Content-->
    <div class="contain">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <form class="forms" method="POST" action="save">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    name="name"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label>Email</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    name="email"
                  />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-5">
                  <label>Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="phone"
                    name="phone"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label>Number of Adults</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Adults"
                    name="number_of_adults"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label>Number of Children</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Children"
                    name="number_of_children"
                  />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Arrival Date</label>
                  <input type="date" class="form-control" name="arrival" />
                </div>
                <div class="form-group col-md-6">
                  <label>Check-out Date</label>
                  <input type="date" class="form-control" name="checkOut" />
                </div>
              </div>
              <div class="form-group">
                <div>
                  <label>Payment</label>
                  <select id="inputState" class="form-control" name="payment">
                    <option selected>IMEPay</option>
                    <option>Khalti</option>
                    <option>IPay</option>
                    <option>Prabhu Pay</option>
                    <option>E-Sewa</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Anything else we should know about.</label>
                  <input type="textarea" name="comment" class="form-control" />
                </div>
                
              </div>
              <button type="submit" class="btn btn-primary">Book</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
